/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  a.btn-regular{
    text-decoration:none;
  }
  
  a.btn-regular:hover{
    border:1px solid rgba(0, 0, 0, 0.2959795);
    box-shadow: 0px 2px 1px rgba(0,0,0,0.13);
  }
  a.btn-regular:active {
    position:relative;
    top:1px;
    left:1px;
    border:1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3959795);
  }
  .btn-regular{
    font-family:Arial,Helvetica,sans-serif;
    background-color:#F5F5F5;
    background-image:-webkit-linear-gradient(top, 
    #F5F5F5,#F1F1F1);
    border:1px solid rgba(0, 0, 0, 0.0980392);
    color:#444444;
    display:inline-block;
    position:relative;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    cursor:default;
    font-size:11px;
    font-weight:bold;
    height:27px;
    line-height:27px;
    margin-right:16px;
    min-width:54px;
    outline:0;
    padding:0 8px;
    text-align:center;
    white-space:nowrap;
  }