<template>
    <div class="h-screen flex flex-col fixed container">
        <h1 class="text-black header lg:block">SlickPoll</h1>
        <ul class="form">
            <li><router-link tag="a" class="poll-management" :to="{name:'poll-management'}"><i class="fas fa-folder-open"></i><b class="menu-text">Poll Management</b></router-link></li>
            <li><router-link tag="a" class="add-poll" :to="{name:'add-poll'}"><i class="fas fa-folder-plus"></i><b class="menu-text">Add Poll</b></router-link></li>
            <li><a class="logout" href="javascript:void(0)" @click="logout()"><i class="fas fa-sign-out-alt"></i><b class="menu-text">Logout</b></a></li>
	    </ul>
    </div>
</template>

<script>
export default {
    methods: {
        logout () {
            this.$store.dispatch('addMessage', {
                type: 'success',
                message: `Logged Out.`
            })            
            this.$store.dispatch('setToken', null)
            this.$store.dispatch('setUser', null)
            this.$router.push({
                name: 'login'
            })
        }
    }
}
</script>
<style scoped>
.container {
    background:white;
    width: 20vw;
}


ul.form {
    position:relative;
    background:#fff;
    width:100%;
    padding:0;
    list-style: none;
    overflow:hidden;	
}

.bottom-form {
    bottom:0;
}

.form li a {
    width:100%;
    padding-left:20px;
    height:50px;
    line-height:50px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    color:#686868;
    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;			
}

.form li a:hover {
    background:#f1f5f8;
}

.form li a.poll-management {
    border-left:15px solid #008747;
}

.form li a.add-poll {
    border-left:15px solid #fecf54;
}
    
.form li a.settings {
    border-left:15px solid #cf2130;
}

.form li a.logout {
    border-left:15px solid #dde2d5;
}	


.form li a:hover i {
    color:#ea4f35;
}

.form i {
    margin-right:15px;
    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;	
}

.form em {
    font-size: 10px;
    background: #ea4f35;
    padding: 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;		
    font-style: normal;
    color: #fff;
    margin-top: 17px;
    margin-right: 15px;
    line-height: 10px;
    height: 16px;		
    float:right;
}

.form li a:active {
    background:#efefef;
}

.header {
    display: none;
}

.menu-text {
    display: none;
}

.fas {
    font-size: 2rem;
}

p {
    text-align:center;
    position:absolute;
    width:100%;
    bottom:0;
    font-size:12px;
    font-family:Arial, Helvetica;
    text-transform:uppercase;
}
p a {
    text-decoration:none;
}
@media (min-width: 768px) {
    .header {
        display: block;
        margin:0 auto;
        margin-top:60px;
        margin-bottom:40px;
        font-size:30px;
        width:100%;
        text-align:center;
    }
    .menu-text {
    display: inline-block;
    }

    .fas {
        font-size: 1rem;
    }
}
</style>
