<template>
    <div class="w-full">
        <div v-for="message in messages" :key="message.time">
            <notification-bubble :type="message.type" :message="message.message"></notification-bubble>
        </div>
    </div>
</template>
<script>
import {mapState} from 'vuex'
import NotificationBubble from './NotificationBubble.vue'

export default {
    data () {
        return {
            message: []
        }
    },
  computed: {
    ...mapState([
      'messages',
      'isUserLoggedIn'
    ])
  },
  watch: {
        messages: function () {
            if (this.messages.length > 5) {
                this.$store.dispatch('removeMessage')
            }
        }
    },
    methods: { 
    },
    components: {
        NotificationBubble
    }
}
</script>
<style scoped>

</style>


