<template>
    <div id="app" class="flex">
        <vue-announcer />
        <div v-if="$store.state.isUserLoggedIn" class="w-1/5" style="position:relative;">
            <navigation-menu />
        </div>
        <div :class="routerViewClass()">
            <router-view :key="$route.fullPath" />
        </div>
        <div class="notifications">
            <notifications />
        </div>
    </div>
</template>

<script>
import './assets/css/main.css'
import NavigationMenu from './components/NavigationMenu.vue'
import Notifications from './components/Notifications.vue'
export default {
name: 'app',
    components: {
        NavigationMenu,
        Notifications
    },
    methods: {
        routerViewClass () {
            return {'w-4/5': this.$store.state.isUserLoggedIn,
            'w-full':!this.$store.state.isUserLoggedIn,
            'h-screen':!this.$store.state.isUserLoggedIn
            }
        }
    }
}
</script>

<style>
body{
    background: #f1f5f8;
    font-family: 'Open Sans', sans-serif;
    color:#1d1e22;
}
.notifications {
    position: absolute;
    bottom: 20px;
    left:20px;
    max-width: 340px;
    z-index: 2;
}
</style>
