<template>
    <div class="w-full max-w-md mx-auto">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-center">Edit Poll</h1>
            <div class="mb-4">
                <label class="block mb-2 font-bold text-grey-darker">Title</label>
                <div class="flex relative">
                    <input v-model="pollTitle" type="text" placeholder="Ex: Favorite dishes" class="appearence-none rounded shadow border w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline">
                    <div class="switch-label">Show: </div>
                    <switch-button @checkEvent="switchCheckbox('titleOpen',...arguments)" :isChecked="titleOpen" style="top:4px;margin-left:10px;"/>
                </div>
                <label class="block mb-2 mt-4 font-bold text-grey-darker">Details</label>
                <div class="flex relative">
                    <textarea v-model="pollDetail" placeholder="Ex: Poll consists of Italian and Turkish cuisine" rows="6" class="appearence-none rounded shadow border w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"></textarea>
                    <div class="switch-label">Show: </div>
                    <switch-button @checkEvent="switchCheckbox('detailOpen',...arguments)" :isChecked="detailOpen" style="top:4px;margin-left:10px;"/>
                </div>
                <div class="relative mt-4">
                    <div class="flex mt-2 vote-item" v-for="(vote, index) in votes" :key="index">
                        <div class="w-3/5 vote-item__label">{{vote.label}}</div>
                    </div>
                </div>
                <div class="flex relative mt-4">
                    <button class="bg-green text-white rounded px-6 py-2" @click="editPoll()">Submit</button>
                </div>
            </div>
        </form>
    </div>    
</template>

<script>
import SwitchButton from '../components/SwitchButton.vue'
import PollService from '../services/PollService'

export default {
    components: {
        SwitchButton
    }, methods: {
        switchCheckbox (param, value) {
            this[param] = value;
        },
        async editPoll () {
            try {
                const response = await PollService.update(
                    {
                        pollId: this.pollId,
                        title: {
                            label: this.pollTitle,
                            open: this.titleOpen
                        },
                        detail: {
                            text: this.pollDetail,
                            open: this.detailOpen
                        }
                    }
                );
                if (response.data._id) {
                    this.$store.dispatch('addMessage', {
                    type: 'success',
                    message: 'Poll successfuly updated.'
                    });
                    this.$router.push({name:'poll-management'});
                } else {
                    this.$store.dispatch('addMessage', {
                    type: 'error',
                    message: response.data.message
                    });
                }
            } catch (err) {
                this.$store.dispatch('addMessage', {
                type: 'error',
                message: 'Error: ' + err
                });
            }
        }
    },
    data () {
        return {
            titleOpen: true,
            detailOpen: true,
            pollTitle:'',
            pollDetail:'',
            votes: [],
            pollId: ''
        }
    },
    async mounted () {
        try {
            this.pollId = this.$route.query.pollId;
            const response = await PollService.find(this.pollId);
            this.pollTitle = response.data.title.label;
            this.pollDetail = response.data.detail.text;
            this.titleOpen = response.data.title.open;
            this.detailOpen = response.data.detail.open;
        } catch (err) {
            this.$store.dispatch('addMessage', {
            type: 'error',
            message: 'Error: ' + err
            });
            this.$router.push({name:'poll-management'});
        }
    }
}
</script>

<style scoped>
.switch-label {
    position: relative;
    margin:8px;
}

.vote-item__label {
    display: flex;
}

.vote-item__label:after {
    content: ' ';
    position: relative;
    height:1px;
    width: 100%;
    background: #EEE;
    top:12px;
}

.vote-item:hover .vote-item__label:after {
    background: red;
}
</style>
