<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <style>
    .container {
        max-width: 500px;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        /* -webkit-box-shadow: 0px 10px 61px -17px rgba(0,0,0,0.63);
        -moz-box-shadow: 0px 10px 61px -17px rgba(0,0,0,0.63);
        box-shadow: 0px 10px 61px -17px rgba(0,0,0,0.63);*/
        position:relative;
        text-align: center;
    }

    .screen-reader-element {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    span.votes {
        background: white;
    }

    .meter-bar {
        position: relative;
        background: #EEE;
        color: white;
        text-align: center;
        height: 20px;
        width: 70%;
        display: inline-block;
    }

    .meter-bar-container {
        position: absolute;
        height: 100%;
        width:0;
        transition: width 0.5s;
    }

    .meter-bar-info {
        position: absolute;
        color:black;
        width:100px;
        font-size:14px;
    }

    .button {
        padding: 10px 30px;
        cursor:pointer;
    }

    .next-page-button{
        display:none;
    }

    .previous-page-button{
        display:none;
    }
    .meter-bar-orange-colar {
        background: #ff9966;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    }

    .meter-bar-purpink {
        background: #FDFC47;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:black;       
    }

    .meter-bar-socialive {
        background: #56CCF2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
    }

    .meter-bar-intuitive-purple {
        background: #DA22FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .meter-bar-summer-dog {
        background: #a8ff78;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:black;
    }

    .meter-bar-sulphur {
        background: #CAC531;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: black;
    }

    .meter-bar-soundcloud {
        background: #fe8c00;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .meter-bar-fb {
        background: #00c6ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .meter-bar-ending {
        position: absolute;
        height: 60px;
        top: -40px;
        right:0px;
        width:2px;
        background: red;
    }

    a.btn-regular{
    text-decoration:none;
    }

    a.btn-regular:hover{
    border:1px solid rgba(0, 0, 0, 0.2959795);
    box-shadow: 0px 2px 1px rgba(0,0,0,0.13);
    }
    a.btn-regular:active {
    position:relative;
    top:1px;
    left:1px;
    border:1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3959795);
    }
    .btn-regular{
    font-family:Arial,Helvetica,sans-serif;
    background-color:#F5F5F5;
    background-image:-webkit-linear-gradient(top, 
    #F5F5F5,#F1F1F1);
    border:1px solid rgba(0, 0, 0, 0.0980392);
    color:#444444;
    display:inline-block;
    position:relative;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    cursor:default;
    font-size:11px;
    font-weight:bold;
    height:27px;
    line-height:27px;
    margin-right:16px;
    min-width:54px;
    outline:0;
    padding:0 8px;
    text-align:center;
    white-space:nowrap;
    }

    @media (min-width: 400px) {
        .meter-bar-info {
            width:270px;
        }
    }
    </style>
    <% var colors=['orange-colar','purpink','socialive','intuitive-purple','summer-dog','sulphur','soundcloud','fb'] %>
</head>
<body>
<div class="container">
    <%if (poll.title.open) {%>
    <h1><%= poll.title.label%></h1>
    <%}%>
    <%if (poll.detail.open) {%>
    <p><%= poll.detail.text%></p>
    <%}%>
    <% if(!poll.openToVote) { %>
    <p class="screen-reader-element">Poll is closed to vote</p>
    <%}%>
    <a href="#sr" id="sr" class="screen-reader-element">Screen reader mode</a>
    <% for(var i=0;i<poll.votes.length;i++){%>
    <div class="meter-bar" style="margin-top:60px;">
        <%
        var labelStyle = '';
        if(Math.round(poll.votes[i].count/totalVote*100)>64){
            labelStyle = 'right:4px;text-align:right;'
        }else{
            labelStyle = "left:4px;text-align:left;"
        }
        %>
        <%
        var votePercentage = 0;
        if (poll.votes[i].count > 0) {
            votePercentage = Math.round(poll.votes[i].count/totalVote*100);
        } 
        %>
        <% if(!poll.openToVote) { %>
            <p class="screen-reader-element">Vote named <%= poll.votes[i].label%> has
            <%= poll.votes[i].count%> votes corresponding to <%= votePercentage %>%</p>
        <%}%>
        <div class="meter-bar-container meter-bar-<%= colors[i] %>" style="width:<%= votePercentage %>%;">
            <%= votePercentage %>%
            <div class="meter-bar-ending">
                <div class="meter-bar-info" style="<%= labelStyle%>">
                    <b><%= poll.votes[i].label%></b>
                    <br><span class="votes"><%= poll.votes[i].count%> votes</span>
                </div>
            </div>
        </div>
    </div>
        <% if(poll.openToVote) { %>
        <a href="vote/<%= poll.pollId%>/<%= i%>" class="btn-regular" target="_blank" aria-hidden="true">Vote</a>
        <a href="vote/<%= poll.pollId%>/<%= i%>" class="screen-reader-element" target="_blank">Vote for <%= poll.votes[i].label%>
        which has <%= poll.votes[i].count%> votes corresponding to <%= votePercentage %>%</a>
        <%}%>
    <%}%>
</div>

<script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

<script>
    $(function(){
        var voteCount = <%= poll.votes.length%>;
        var coveredCount = 0;
        $('#sr').click(function(){
            $('*').css('background','yellow').css('color','black').css('font-weight','bolder').css('opacity','1');
            $('.meter-bar-container').css('background','black').css('color','yellow');
        });
    });
</script>
</body>
</html>